<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This site created by vivek Patel. It  usese mapbox and weather stack api!</p>
    <img class="potrait" src="/img/vivek23.jpg" alt="">
    </div>
    {{>footer}}
    
</body>
</html>